Xcursor.theme: whiteglass
Xft.lcdfilter: lcddefault

XTerm.fullscreen: never
!XTerm*faceName: Anonymous Pro
!XTerm*faceSize: 11

XTerm*metaSendsEscape: true
XTerm*eightBitInput: false
XTerm*activeIcon: false

XTerm*background: black
XTerm*cursorColor: lightgrey
XTerm*foreground: lightgrey



Xft.lcdfilter: lcddefault
Xft.antialias: true
Xft.autohint: 0
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.dpi: 96