<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="system-menu" label="system">
		<item label="arandr">
			<action name="Execute">
				<execute>arandr</execute>
			</action>
		</item>
		<item label="obconf">
			<action name="Execute">
				<command>obconf</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="obmenu">
			<action name="Execute">
				<execute>obmenu</execute>
			</action>
		</item>
		<item label="wallpaper">
			<action name="Execute">
				<execute>~/.config/openbox/wallpaper.sh</execute>
			</action>
		</item>
		<item label="tint2conf">
			<action name="Execute">
				<execute>tint2conf</execute>
			</action>
		</item>
		<item label="screen on">
			<action name="Execute">
				<execute>~/.config/openbox/screen_on.sh</execute>
			</action>
		</item>
		<item label="screen off">
			<action name="Execute">
				<execute>~/.config/openbox/screen_off.sh</execute>
			</action>
		</item>
		<item label="reconfigure openbox">
			<action name="Reconfigure"/>
		</item>
	</menu>
	<menu id="root-menu" label="openbox">
		<menu id="client-list-combined-menu"/>
		<separator/>
		<item label="wifi">
			<action name="Execute">
				<execute>xterm -e &quot;sudo wifi-menu&quot;</execute>
			</action>
		</item>
		<item label="xterm">
			<action name="Execute">
				<execute>xterm -e fish</execute>
			</action>
		</item>
		<item label="mc">
			<action name="Execute">
				<execute>xterm -e mc</execute>
			</action>
		</item>
		<item label="spacefm">
			<action name="Execute">
				<execute>spacefm</execute>
			</action>
		</item>
		<separator/>
		<item label="bluefish">
			<action name="Execute">
				<execute>bluefish</execute>
			</action>
		</item>
		<item label="geany">
			<action name="Execute">
				<execute>geany</execute>
			</action>
		</item>
		<item label="speedcrunch">
			<action name="Execute">
				<execute>speedcrunch</execute>
			</action>
		</item>
		<item label="goldendict">
			<action name="Execute">
				<execute>goldendict</execute>
			</action>
		</item>
		<separator/>
		<item label="opera">
			<action name="Execute">
				<execute>opera</execute>
			</action>
		</item>
		<item label="chromium">
			<action name="Execute">
				<execute>chromium</execute>
			</action>
		</item>
		<item label="thunderbird">
			<action name="Execute">
				<execute>thunderbird</execute>
			</action>
		</item>
		<item label="libreoffice">
			<action name="Execute">
				<execute>libreoffice</execute>
			</action>
		</item>
		<item label="gimp">
			<action name="Execute">
				<execute>gimp</execute>
			</action>
		</item>
		<separator/>
		<item label="steam">
			<action name="Execute">
				<execute>steam</execute>
			</action>
		</item>
		<item label="factorio">
			<action name="Execute">
				<execute>/home/public/factorio/bin/x64/factorio</execute>
			</action>
		</item>
		<separator/>
		<item label="skype">
			<action name="Execute">
				<execute>skype</execute>
			</action>
		</item>
		<item label="viber">
			<action name="Execute">
				<execute>viber</execute>
			</action>
		</item>
		<item label="smplayer">
			<action name="Execute">
				<execute>smplayer</execute>
			</action>
		</item>
		<item label="deadbeef">
			<action name="Execute">
				<execute>deadbeef</execute>
			</action>
		</item>
		<item label="deluge">
			<action name="Execute">
				<execute>deluge</execute>
			</action>
		</item>
		<separator/>
		<menu id="system-menu"/>
		<separator/>
		<menu id="exit-menu" label="exit">
			<item label="suspend">
				<action name="Execute">
					<execute>sudo systemctl suspend</execute>
				</action>
			</item>
			<item label="poweroff">
				<action name="Execute">
					<execute>sudo systemctl poweroff</execute>
				</action>
			</item>
			<item label="reboot">
				<action name="Execute">
					<execute>sudo systemctl reboot -i</execute>
				</action>
			</item>
			<item label="logout">
				<action name="Execute">
					<execute>~/.config/openbox/logout.sh</execute>
				</action>
			</item>
		</menu>
	</menu>
</openbox_menu>
